<button class="inline-flex items-center justify-center gap-1.5 rounded border border-gray-200 bg-white px-5 py-3 text-sm font-medium text-gray-900 transition hover:text-gray-700 focus:outline-none focus:ring"
type="{{ type || 'submit' }}"> {{ text }} </button>
