<button class="inline-block rounded bg-white px-4 py-2 text-sm font-medium text-emerald-600 transition hover:text-emerald-800 focus:outline-none focus:ring border border-gray-300 hover:border-gray-500"
type="{{ type || 'submit' }}"> {{ text }} </button>