TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=pgsql
DB_PORT=5432
DB_USER=oriandnori
DB_PASSWORD=password
DB_DATABASE=oriandnori-db
SMTP_HOST=smtp.tem.scaleway.com
SMTP_PORT=587
SMTP_USER=e1f6174db-693d-4253-9fe8-2475be7f64e2
SMTP_PASSWORD=fd30c12c-5272-496d-b00a-2b85589bf470
DRIVE_DISK=fs
OPENCAGE_API_KEY=c6003af31f1944f98e9587fc6fe83f10