<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Someone suggests a meetup</title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-100">
    <div class="max-w-lg mx-auto mt-10 bg-white p-6 rounded-lg shadow-lg text-center">
        <img src="resources/images/Ori&Nori - Logo3.png" alt="Logo" class="w-24 mx-auto mb-4">
        <h1 class="text-2xl font-bold text-gray-800">Hello 👋 {{ owner.username }}</h1>
        <p class="mt-4 text-gray-600">Someone suggests a meetup. Please, look at his profile.</p>
        <a href="{{ profileUrl }}" class="mt-6 inline-block bg-blue-500 text-white py-2 px-4 rounded-lg text-lg font-semibold hover:bg-blue-600 transition">Profile of {{user.username}}</a>
        <p class="mt-4 text-sm text-gray-500">If you don't want to see this profile, delete this email.</p>
    </div>
</body>
</html>