@layout.app({ title: "All Users Profiles" })
@slot('meta')
<meta name="description" content="A All Users Profiles page made with EdgeJS">
@endslot

@slot('main')
<section class="bg-white dark:bg-gray-900 mx-auto max-w-screen-2xl 2xl:px-0 pt-10">
  <div class="container px-4 py-0">
    <h1 class="text-2xl font-semibold capitalize lg:text-3xl text-emerald-700">Pets List</h1>
    <div class="flex mx-auto">
      <span class="inline-block w-40 h-1 bg-amber-400 rounded-full"></span>
      <span class="inline-block w-3 h-1 mx-1 bg-amber-400 rounded-full"></span>
      <span class="inline-block w-1 h-1 bg-amber-400 rounded-full"></span>
    </div>
    <p class="mt-6 text-gray-500 dark:text-gray-300">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt ex placeat modi magni quia error
      alias, adipisci rem similique, at omnis eligendi optio eos harum.
    </p>
  </div>
  <div class="container px-30 md:px-4">
    <div class="grid gap-8 mt-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4">
      @each(pet in pets)
      <div
        class="max-width mx-auto shadow-lg flex flex-col p-4 border-2 sm:p-6 rounded-xl dark:border-gray-500  hover:bg-emerald-700 hover:text-white text-gray-500 capitalize dark:text-gray-300">
        <img class="object-cover w-full rounded-xl aspect-square border-amber-400 border-2"
          src="{{ asset(pet.photo ? `storage/${await driveUrl(pet.photo)}` : 'resources/images/1077114.png') }}"
          alt="Photo of {{ pet.name }}">

        <div class="p-4">
          <h1 class="text-2xl font-semibold capitalize">{{ pet.name }} {{ pet.gender === 'female' ? '♀' : '♂' }}</h1>
          <div class="flex mx-auto">
            <span class="inline-block w-40 h-0.5 bg-amber-400 rounded-full"></span>
            <span class="inline-block w-3 h-0.5 mx-1 bg-amber-400 rounded-full"></span>
            <span class="inline-block w-1 h-0.5 bg-amber-400 rounded-full"></span>
          </div>
          {{ pet.speciesName }}, {{ pet.breedName }}

          <p class="mt-2 capitalize">
            <strong>Birthday: </strong>{{ new Date(pet.birthday).toLocaleDateString('fr-FR', {day: '2-digit', month:
            '2-digit', year: 'numeric' }) }}
          </p>
          <p class="mt-2 capitalize">
            <strong>Owner: </strong>{{ pet.user.id }}
          </p>
        </div>
        <div
          class="mt-2 bg-gray-100 dark:bg-emerald-800 p-4 rounded-lg  text-gray-500 dark:text-gray-300 border-amber-400 border-2">
          @each(personality in pet.personality)
          <p class="capitalize">
            <strong>{{ personality.trait }}:</strong>
            <span>
              @each(i in [...Array(personality.rating)])
              {{ pet.speciesName === 'Chat' ? '🐱' : '🐶' }}
              @endeach
            </span>
          </p>
          @endeach
        </div>
        <div class="p-4">
          <p class="mt-2 capitalize"><strong>Vaccined:</strong> {{ pet.vaccined === true ? '✅' : '❌' }}</p>
          <p class="mt-2 capitalize"><strong>Description:</strong> {{pet.description }}</p>
        </div>

        <div class="flex mt-3 -mx-2 justify-center">
          <div>
            <a href="{{ route('PetProfile', [pet.id]) }}" class="inline-flex items-center gap-2 rounded-md px-4 py-2 text-gray-400 hover:text-white hover:bg-emerald-800 hover:border-amber-400 hover:border-2 focus:relative">
              View
            </a>
          </div>
        </div>
      </div>
      @endeach
    </div>
  </div>
</section>
@endslot
@end