@layout.app({ title: "Bienvenue" })
  @slot('meta')
    <meta name="description" content="A welcome page made with EdgeJS">
  @endslot

  @slot('main')
  <h1 class="text-3xl font-bold underline">
    Bienvenue sur Ori&Nori 
  </h1>
  @endslot
@end
