@eval(await auth.use('web').check())
@layout.app({ title: "Meetups" })
@slot('meta')
<meta name="description" content="A Meetups page made with EdgeJS">
@endslot

@slot('main')
<div>
    Meetups
</div>
@endslot
@end